.input-wrapper {
  display: grid;
  & label {
    font: var(--body-sm);
    color: var(--text-body);

    margin-bottom: .75rem;
  }
}

input {
  background-color: var(--input-background);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;

  height: 3rem;

  font: var(--body-md);
  color: var(--text-heading);

  padding-block: .75rem;
  padding-inline: 1rem;

  transition: border 0.2s ease;
}

input:focus,
input:focus-within {
  border: 2px solid var(--brand-light);
  outline: none;
}

.warning {
  all: unset;

  background-color: var(--input-background);
  border: 1px solid var(--danger);
  border-radius: .5rem;

  font: var(--body-md);
  color: var(--text-heading);

  padding-block: .75rem;
  padding-inline: 1rem;

  transition: border 0.2s ease;
}

.error-msg {
  display: flex;
  align-items: center;
  gap: .5rem;

  & .warning-circle {
    width: 1rem;
    width: 1rem;

    fill: var(--danger);
  }

  & p {
    font: var(--body-xs);
    color: var(--danger);
  }
}

