.radio-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: fit-content;
  height: 3.2rem;

  gap: .25rem;
  padding: 6px;

  border: 1px solid var(--input-stroke);
  border-radius: .5rem;

  position: relative;
  inset: 0;

  transition: border 0.2s ease;

  & input {
    opacity: 0;
    width: 50%;
    position: absolute;
    cursor: pointer;
  }

  & .build, .video {
    width: 1rem;
    height: 1rem;

    vertical-align: top;
  }

  & label {
    font: var(--body-sm);
    color: var(--text-heading);

    vertical-align: top;
  }
}

.radio-inner:focus,
.radio-inner:focus-within {
  border: 2px solid var(--brand-light);
  outline: none;
}

.radio-wrapper {
  display: flex;
  justify-content: center;

  padding: .625rem;

  max-height: 2.18rem;

  &:focus-within {
    background-color: var(--input-stroke);
    border-radius: .5rem;

    & label {
      font-weight: bold;
    }

    & .build,
    & .video {
      path {
        fill: var(--brand-light);
      }
    }
  }
}

/* COLOR PICKER */

.colors-radio {
  margin-bottom: 1.75rem;

  & span {
    font: var(--body-sm);
    color: var(--text-heading);

    display: inline-block;
    margin-bottom: 1rem;
  }
}

.color-picker {
  display: flex;

  gap: 0.5rem;

  width: fit-content;
}

.color-option {
  width: 2.5rem;
  height: 2.5rem;

  position: relative;
  cursor: pointer;

  & input {
    display: none;
  }

  & .circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: inline-block;
    border: 6px solid var(--shape-button);

    transition: outline 0.2s ease;
  }
}

.color-option input:checked + .circle {
  outline: 3px solid var(--brand-light);
}

/* THEME PICKER */

.theme-radio {
  & span {
    font: var(--body-sm);
    color: var(--text-heading);

    display: inline-block;
    margin-bottom: 1rem;
  }
}

.theme-picker {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: .5rem;
}

.theme-option {
  display: grid;
  align-items: center;
  max-width: 8.375rem;

  background-color: var(--shape-button);

  border: 1px solid var(--input-stroke);
  border-radius: .5rem;

  position: relative;
  cursor: pointer;

  & input {
    display: none;
  }

  & img {
    width: 100%;
    object-fit: cover;

    padding: .2rem .2rem .5rem .2rem;
  }

  & .content span {
    display: grid;
    font: var(--body-sm);
    color: var(--text-heading);
    text-align: center;
  }

  & .content {
    transition: outline 0.2s ease;
  }
}

.theme-option input:checked + .content  {
  outline: 3px solid var(--brand-light);
  border-radius: .5rem;
}



