.app {
  display: grid;
  grid-template-columns: 33% 67%;
  
  overflow: hidden;
  height: 100vh;

  gap: 1.25rem;
  margin-top: 1.25rem;
} 

aside {
  background-image: url(../assets/Background.png);
  border-radius: .75rem;

  max-width: 25rem;
  max-height: 45.5rem;

  margin-left: auto;

  & .aside-container {
    width: 21rem;
    margin-inline: 2rem;
    padding-top: 2rem;
  }

  img {
    width: 2.875rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  h1 {
    font: var(--logo);
    color: var(--pink);
    margin-bottom: .25rem;
  }

  p {
    font: var(--body-md);
    color: var(--text-heading);
  }
}

main {
  overflow: auto;

  max-width: 51.25rem;
  max-height: 123.81rem;

  background-color: var(--shape-body);
  border-radius: .75rem;

  & .main-container {
    max-width: 35rem;
    margin-block: 5rem; 
    margin-inline: 8.125rem;
  }

  & .header h2 {
    font: var(--heading-md);
    color: var(--text-heading);

    margin-bottom: 2.5rem;
  }
}