.grid {
  display: grid;
}

.grid-half {
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.grid5050 {
  grid-template-columns: .5fr 1fr;
  gap: 16px;
}

.grid-flow-col {
  grid-template-columns: auto;
}

.margin-8 {
  margin-right: 8px;
}

.w-130 {
  width: 130px;
}

.height-radio {
  height: 3.2rem;
}

/*COLOR CIRCLE*/

.brand-light {
  background-color: var(--brand-light);
}

.navy {
  background-color: var(--navy);
}

.purple {
  background-color: var(--purple);
}

.fuschia {
  background-color: var(--fuschia);
}

.pink {
  background: var(--pink);
}

.danger {
  background-color: var(--danger);
}

.orange{
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.lime {
  background-color: var(--lime);
}

.green {
  background-color: var(--green);
}

.cyan {
  background-color: var(--cyan);
}


